.assignment,
.hobby {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    margin-bottom: 150px;
}

.assignment-details,
.hobby-details {
    width: 600px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.assignment-details-title,
.hobby-details-title {
    margin-bottom: 20px;
}

.img-style {
    width:630px; 
    margin: 15px;
}

@media screen and (max-width: 1024px) {
    .assignment,
    .hobby {
        height: 600px;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }

    .assignment-details,
    .hobby-details {
        font-size: 12px;
    }
    
    .img-style {
        width: 315px;
    }
}