.shortcuts {
    display: flex;
    line-height: 30px;
    padding: 40px;
    justify-content: center;
    margin-bottom: 130px;
    flex-wrap: wrap;
}

.shortcuts-title {
    margin-right: 50px;
}

.shortcuts ul {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

@media screen and (max-width: 1024px) {
    .shortcuts ul {
        margin: 10px 0;
        font-size: 13px;
    }

    .shortcuts-title {
        font-size: 15px;
    }
    
}