/*commented lines can be removed at the end of the project. i just checked which properties still apply*/
@import "../Shared CSS/general.css";
@import "../Shared CSS/buttons.css";

#rectangles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#centering-main-section {
    display: flex;
    align-items: center;
    height: 100vh;
}

#pink-background {
    background: rgb(255,200,196);
    background: linear-gradient(90deg, rgba(255,176,196,1) 0%, rgba(255,200,196,1) 50%, rgba(255,176,196,1) 100%);
    height: 300px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.8);
}

#poza {
    width: 350px;
    height: 500px;
    border: 50px solid #B5E8A4;
    border-image-source: linear-gradient(0deg, rgba(137,210,163,1) 0%, rgba(181,232,164,1) 50%, rgba(137,210,163,1) 100%);
    border-image-slice: 1;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.8);

    transition: 0.3s ease;
}

#info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
    height: 500px;
}

h1 {
    font-size: 50px;
    text-shadow: 4px 4px 10px #a3a3a3;
}

p:nth-child(2) {
    margin: 60px 0 90px 0;
    font-size: 23px;
    font-style: italic;
}

p:nth-child(3) {
    font-size: 19px;
    font-weight: bold;
}

#buttons-position {
    text-align: right;
}