/*commented lines can be removed at the end of the project. i just checked which properties still apply*/
@import "../SharedCSS/General.css";
@import "../SharedCSS/Header.css";
@import "../SharedCSS/Footer.css";
@import "../SharedCSS/Buttons.css";
@import "../SharedCSS/Shortcuts.css";
@import "../SharedCSS/GeneratedDivs.css";

#header {
    margin-bottom: 100px;
}

.code-link-style {
    font-weight: bold;
    color:#FF97C4;
    margin-top: 20px;

    transition: 0.3s ease;
}

.code-link-style:hover {
    cursor: pointer;
    color: #ff60a5;
    text-shadow: 0px 0px 7px rgba(255,190,218,0.9);
}

.link-style {
    transition: 0.3s ease;
}

.link-style:hover {
    cursor:pointer;
    color:#FF97C4;
}