/*commented lines can be removed at the end of the project. i just checked which properties still apply*/
@import "../SharedCSS/General.css";
@import "../SharedCSS/Header.css";
@import "../SharedCSS/Footer.css";
@import "../SharedCSS/Buttons.css";
@import "../SharedCSS/Shortcuts.css";
@import "../SharedCSS/GeneratedDivs.css";
@import "../SharedCSS/ColorsAndEffects.css";

#header {
    margin-bottom: 100px;
}

.code-link-style {
    font-weight: bold;
    margin-top: 20px;
}