/*commented lines can be removed at the end of the project. i just checked which properties still apply*/
@import "../Shared CSS/general.css";
@import "../Shared CSS/header.css";
@import "../Shared CSS/footer.css";
@import "../Shared CSS/buttons.css";

#header {
    margin-bottom: 100px;
}

#shortcuts {
    display: flex;
    line-height: 30px;
    padding: 40px;
    justify-content: center;
    background: rgba(255,200,196,0.5);
    margin-bottom: 130px;
}

ul {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin-left: 50px;
}

.assignment {
    background-color: #b5e8a485;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    margin-bottom: 150px;
}

.assignment-details {
    width: 700px;
    text-align: justify;
}

.assignment-details-title {
    margin-bottom: 20px;
}

.iframes {
    background-color: gainsboro;
    border: 30px solid #B5E8A4;
    border-image-source: linear-gradient(0deg, rgba(137,210,163,0.5) 0%, rgba(181,232,164,0.5) 50%, rgba(137,210,163,0.5) 100%);
    border-image-slice: 1;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.8);
    width:550px; 
    height:350px;
}